<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <tr>
               <th>Name</th><th>Image</th>
            </tr>
         
            <% for (var i = 0; i < data.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
             <tr>
               <td><%= data[i].profilePicture.fileName %></td>
               <td><img width="100px" height="100px" src="<%= data[i].profilePicture.imgurl %>" alt="" class="logo"></td>
             </tr>    
            <% } %>
            <!-- <% data.map((ele)=>{%>
                <img width="100px" height="100px" src="<%= ele.imgurl %>" alt="" class="logo">
           <%})%> -->
         </table>
    </div>
</body>
</html>
